.box1{
  display: flex;
  height: 96px;
  border-bottom: 1px solid gainsboro;
  position: fixed;
  z-index: 999;
  width: 100%;
  background-color: white;
  top: 0;
}

.box1 .logo{
  display: inline-flex;
  margin-left: 24px;
  height: 96px;
  align-items:center;
  width: 20%;
  overflow: hidden;

}
  .box1 .logo img{
    max-width: 100%;
    height: 96px;
  }
  nav{
    width: 80%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 24px;
    font-size: 24px;

  }
  .box1 ul li{
    display: inline-flex;
    padding-left: 16px;
    text-decoration: underline;
    font-family: 'Amiko', sans-serif;
  }
  .box1 a{
    color: black;
  }
  .box2{
    width: 100%;
    overflow: hidden;
    top: 96px;

  }
  .box2 img{
    margin-top: 96px;
    width: 100%;
    height: 400px;
  }
  .box3{
    display: flex;
    width: 100%;
    background-color: MintCream;
    top: 96px;
    height: auto;
  }
  .box3 .words{
    width: 65%;
    font-size: 18px;
  }
  .box3 h2{
font-family: 'Merriweather', serif;
    font-size: 36px;
    text-align: center;
  }
  .box3 .brand{
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .box3 .brand img{
    max-height: 80%;
    max-width: 35%;

  }
  .mobile{
    display: none;
  }
  .box2 p{
    font-family: 'Amiko', sans-serif;
    font-size: 16px;
  }
  .box4{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    background-color: whitesmoke;
    position: relative;

  }
  .fourheader{
    font-size: 32px;
    text-align: center;
  }
  .sixcontain{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 32px;
  }
  .libox{
    width: 22%;
    display: inline-block;
    overflow: hidden;
    margin: 0 16px 32px 16px;
    background-color: white;

  }
  .libox img{
    width: 60%;
    height: 174px;
  }
  .sixcontain .words{
    padding-left: 16px;
    padding-bottom: 24px;
    padding-top: 16px;

  }
  .sixcontain .head{

    font-weight: bold;
    line-height: 1em;
  }
  .box5{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
    background-color: gainsboro;
  }
  .box5 h2{
    text-align: center;

  }
  .box5 .boxa{
    display: inline-flex;
    width: 50%;
  }
  .box5 p{
    width: 80%;

  }
  .box5 .boxb{
    padding-left: 15px;
    padding-bottom: 50px;
    background-color: white;
    margin-right: 15px;
    width: 50%;
    border: 1px solid black;
  }
  .box5 .boxc{
    padding-left: 15px;
    padding-bottom: 50px;
    background-color: white;
    margin-left: 15px;
    width: 50%;
    border: 1px solid black;
  }

  footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: #004B8D;
    height: 128px;
    color: whitesmoke;
  }
  footer a{
    color: whitesmoke;
  }
  @media only screen and (max-width: 480px){
    .box1{
      position: static;
    }
    .box1 .logo{
      width: 100%;
      justify-content: center;
    }
    .box1 nav{
      display: none;
    }
    .box2{
      display: none;
    }
    .box3 .words{
      width: 100%;
      text-align: center;
    }
    .box3 .brand{
      display: none;
    }
    .mobile{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .mobile img{
        max-height: 80%;
        max-width: 35%;
      }
      .box4 .libox{
        width: 45%;
        margin-left: 5px;
        margin-right: 5px;
      }
      .box4 .libox img{
        width: 100%;
      }
      .box5 .boxa{
        width: 80%;

      }


    }
